<app-header></app-header>

<div class="hero-section">
  <div class="container">
    <div class="hero">
      <h1>Writing Segmentation</h1>
      <p>This application deciphers positions of columns, lines, interlinear writings, cuff notes and titles.</p>
    </div>
  </div>
</div>

<div class="container">
  <a href="#">Segment</a>
  <a href="#"><img src="../../../assets/Images/android-button-icon.svg" alt="Android App" /></a>
  <a href="#"><img src="../../../assets/Images/ios-button-icon.svg" alt="Android App" /></a>
</div>
<app-footer></app-footer>
