<app-header></app-header>
<div class="container">
    <div class="container-left">
        <div class="buttons">
          <a class="button button-android" href="#"></a>
          </div>
      </div>

      <div class="segment-button">
          <button href="#">Segment</button>
        </div>
      
      <div class="container-rigth">
        <div class="buttons">
            <a class="button button-ios" href="#"></a>
          </div>
      </div>

      <div class="description-paragraph">
        <p>This application deciphers positions of columns, lines, interlinear writings, cuff notes and titles.</p>
       </div>
</div>
<app-footer></app-footer>