<app-header></app-header>

<div class="hero-section">
  <div class="container">
    <div class="hero">
      <h1>Writing Segmentation</h1>
      <h3>This application deciphers positions of columns, lines, interlinear writings, cuff notes and titles.</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="home-segment">
    <h2>Try it out</h2>
    <div class="home-segment-btn">
      <a href="#">Segment</a>
    </div>
  </div>
</div>

<div class="mobile-apps-section">
  <h2>Get our mobile app</h2>
  <div class="container">
    <div class="mobile-apps">
      <a class="android-app" href="#">
        <img src="../../../assets/Images/android-logo.png" alt="Android Logo" />
        <img src="../../../assets/Images/android-button-icon.svg" alt="Android App" />
      </a>
      <a class="ios-app" href="#">
        <img src="../../../assets/Images/apple-logo.png" alt="Apple App" />
        <img src="../../../assets/Images/ios-button-icon.svg" alt="IOS App" />
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>
