<!--The content below is only a placeholder and can be replaced.-->
<div id="container" class="container">
        <div class="wrapper-title"></div>

        <div class="wrapper-file-upload">
                <app-file-upload></app-file-upload>
        </div>

        <div class="wrapper-file-resolved">
                <app-file-resolved></app-file-resolved>
        </div>

        <div class="wrapper-history-menu">
                <app-file-menu></app-file-menu>
        </div>

</div>

<canvas id="background-gradient"></canvas>