html {
  min-height: 100%;
  max-width: 100%;
}

body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}

app-segment {
  min-height: 100%;
  width: 100%;
  transition: 0.5s;
}