<div class="footer-wrapper">
  <div class="container">
    <footer>
      <section>
        <h2><a routerLink="/home">WrSeg</a></h2>
        <p>Writing Segmentation</p>
      </section>
      <section>
        <h3>Explore</h3>
        <p><a routerLink="/segment">Segment</a></p>
        <p><a routerLink="/contact">Contact</a></p>
      </section>
      <section>
        <h3>Visit</h3>
        <p><a href="https://maps.google.com/?q=Iasi, Ro" target="_blank">Iasi, Ro</a></p>
      </section>
      <section>
        <h3>Contact Us</h3>
        <p><a href="mailto: mail@example.com">mail@example.com</a></p>
        <p><a href="tel:+40787429643">+40787429643</a></p>
      </section>
    </footer>
  </div>
</div>
<div class="under-footer"><p>Made with <i class="fa fa-heart fa-4x fa-beat"></i> by B4</p></div>
