.wrapper-segmentation {
  padding: 35px 0;
}

.container {
  padding: 0 30px;
  max-width: 1080px;
  margin: 0 auto;
}

.wrapper-io {
  border: dashed 2px white;
  border-image: url("../../../assets/Images/dashed-grayedout.png") 1 round;
  display: grid;
  height: auto;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}

.wrapper-io:hover {
  transition: 0.5s;
  border-image: url("../../../assets/Images/dashed.png") 1 round;
}

.wrapper-io:hover .segmentation-input {
  border-image: url("../../../assets/Images/dashed.png") 1 round;
  transition: 0.5s;
}

.segmentation-input {
  
  position: relative;
  border-right: dashed 1px #000;
  border-image: url("../../../assets/Images/dashed-grayedout.png") 1 round;
}

.segmentation-input-icon {
  margin: 0 auto;
  display: block;
  margin-top: 150px;
}

.segmentation-output-icon {
  height: 256px;
  width: 256px;
  margin: 0 auto;
  display: block;
  margin-top: 150px;
}

.segmentation-output {
}

.wrapper-history-menu {
  height: 200px;
  background-color: #eee;
  display: grid;
  grid-template-rows: 25% 75%;
  grid-template-columns: 100%;
}

.history-menu-title {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: #313854;
  text-align: center;
}

.history-menu-title h1 {
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  margin-top: 7px;
}

.history-menu-list {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: #495172;
}

.history-menu-title button {
  height: 100%
}

@media screen and (max-width: 800px) {
  .wrapper-io {
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    height: 450px;
  }
  .segmentation-input {
    border-right: none;
    border-bottom: dashed 1px #000;
  }
}