<app-header></app-header>

<div class="wrapper-segmentation">
    <div class="container">
        <div class="wrapper-io">
            <div class="segmentation-input">
                <app-file-upload></app-file-upload>
            </div>
            <div class="segmentation-output">
                <app-file-resolved></app-file-resolved>
            </div>
        </div>
        <div class="paremeters-wrapper">
            <div class="sub-parameter">
                <label>Threshold : {{thresholdValue}}</label>
                <mat-slider (input)="pitch($event)" min="0" max="1" step="0.1" value="0.2" tickInterval="0.1"></mat-slider>
            </div>
            <div class="sub-parameter">
                <label>MAXCOLSEPS</label>
                <input [value]="maxcolseps" (change)="updateColSeps($event)" type="number" class="par-input">
            </div>
            <div class="sub-parameter">
                <label>MINSCALE</label>
                <input [value]="minscale" (change)="updateScale($event)" type="number" class="par-input">
            </div>
            <div class="sub-parameter">
                <label>MAXLINES</label>
                <input [value]="maxlines" (change)="updateLines($event)" type="number" class="par-input">
            </div>
            <div class="sub-parameter">
                <label>MAXSEPS</label>
                <input [value]="maxseps" (change)="updateSeps($event)" type="number" class="par-input">
            </div>
        </div>
    </div>

    <div class="legend">
        <div class="legend-title">
            <p>Legend:</p>
        </div>
        <div class="blue">
            <p>text</p>
        </div>
        <div class="purple">
            <p>footer</p>
        </div>
        <div class="green">
            <p>title</p>
        </div>
        <div class="dark-blue">
            <p>page number</p>
        </div>
        <div class="red">
            <p>adnotations</p>
        </div>
    </div>
</div>

<div class="wrapper-history-menu">
    <div class="history-menu-title">
        <h1>HISTORY</h1>
    </div>
    <div class="history-menu-list">
    </div>
</div>

<app-footer></app-footer>