.wrapper-segmentation {
  padding: 35px 0;
}

.container {
  padding: 0 30px;
  max-width: 1080px;
  margin: 0 auto;
  height: 100%;
}

.card {
  padding: 20px;
  margin: 0 auto;
  transition: margin 0.3s;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.wrapper-io {
  border: dashed 2px white;
  border-image: url("../../../assets/Images/dashed-grayedout.png") 1 round;
  display: grid;
  height: auto;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}

.wrapper-io:hover {
  transition: 0.5s;
  border-image: url("../../../assets/Images/dashed.png") 1 round;
}

.wrapper-io:hover .segmentation-input {
  border-image: url("../../../assets/Images/dashed.png") 1 round;
  transition: 0.5s;
}

.segmentation-input {
  position: relative;
  border-right: dashed 1px #000;
  border-image: url("../../../assets/Images/dashed-grayedout.png") 1 round;
}

.segmentation-input-icon {
  margin: 0 auto;
  display: block;
  margin-top: 150px;
}

.segmentation-output-icon {
  height: 256px;
  width: 256px;
  margin: 0 auto;
  display: block;
  margin-top: 150px;
}

.legend {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
  margin: 0 auto;
}

.legend p {
  margin: 0;
}

.legend div:not([class^="legend-title"]) p {
  padding: 5px;
  color: white;
}

.legend-title p {
  color: black;
}

.blue {
  background-color: rgba(66, 244, 241, 0.3);
}

.purple {
  background-color: rgba(212, 0, 255, 0.3);
}

.green {
  background-color: rgba(0, 130, 14, 0.5);
}

.dark-blue {
  background-color: rgba(32, 1, 255, 0.4);
}

.red {
  background-color: rgba(250, 50, 50, 0.4);
}

.wrapper-history-menu {
  height: 200px;
  background-color: #eee;
  display: grid;
  grid-template-rows: 25% 75%;
  grid-template-columns: 100%;
}

.history-menu-title {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: #313854;
  text-align: center;
}

.history-menu-title h1 {
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  margin-top: 7px;
}

.history-menu-list {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: #495172;
}

.history-menu-title button {
  height: 100%
}

@media screen and (max-width: 767px) {
  .wrapper-io {
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
  }
  .segmentation-input {
    border-right: none;
    border-bottom: dashed 1px #000;
  }
}

.paremeters-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sub-parameter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.par-input {
  margin: 12px;
  width: 75px;
}

#flex-container{
  display: flex;
  justify-content: center;
}

#flex-container button{
  margin-top: 15px;
  border: 0px;
  background-color: #313854;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  transition: all 0.2s ease; 
  outline: none;
  box-sizing: border-box;
  height: 40px;
}

#flex-container button:active{
  background-color: #2a2f47;
  border-radius: 10px;
  font-size: 22px;
  color: #bbb;
}