<app-header></app-header>
<div class="container">
  <h1>Segmentation of writtings</h1>
    <div class="container--left">
      <p class="description--paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit mollitia sapiente laboriosam voluptatibus delectus, ut beatae. Provident fugiat doloribus similique, tenetur ratione nemo ea quidem cupiditate reprehenderit! Inventore, atque saepe! Quia qui est fuga assumenda maxime magnam laborum ea enim eum doloremque dolor reiciendis unde, impedit perspiciatis veritatis autem minus a, alias nobis veniam ipsam officiis praesentium? Neque iste quibusdam quisquam, tenetur accusamus ratione doloribus delectus facere repellendus nihil placeat cupiditate ullam quo debitis ducimus dignissimos nostrum possimus assumenda atque?</p>
      <p class="description--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, velit.</p>
    </div>
    <div class="container--rigth">
      <div class="slider">
          <div class="slide"><p>Slide 1</p></div>
          <div class="slide"><p>Slide 2</p></div>
          <div class="slide"><p>Slide 3</p></div>
          <div class="slide"><p>Slide 4</p></div>
      </div>
      </div>
      <!-- TODO add image(s)there -->
    
 
  <div class="buttons">
    <!-- TODO add the correct links -->
    <a class="button button--ios" href="#"></a>
    <a class="button button--android" href="#"></a>
  </div>
  
</div>