.container {
    align-items: center;
    display: grid;
    flex-direction: column;
    margin: 0 30px;
    grid-template-columns: 1fr 1fr 30px;
    grid-template-rows: 100px 800px 200px;
}
.container h1{
    grid-row:1/2;
    grid-column:1/4;
    text-align:center;
}

.container--left{
    grid-row:2/3;
    grid-column:1/2;
}
.container--rigth {
grid-column:2/3;
grid-row:2/3;
height:100%;
}

.description--paragraph{
    text-indent: 25px
}

.buttons {
    grid-row:3/4;
    grid-column: 1/4;
    display:  flex;
    justify-content: center;
}

.button {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    margin: 25px;
}

.button--ios {
    background-image: url('./ios-button-icon.svg');
    width: 150px;
}

.button--android {
    background-image: url('./android-button-icon.svg');
    width: 170px;
}
.slider {
    display: block;
    width: 50%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
    
}
.slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}

.slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url('https://images.unsplash.com/photo-1524260855046-f743b3cdad07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1401&q=80');
    background-size: cover;
    background-position: center;
}
.slide:nth-child(2){
    animation-delay: 2s;
    background-image: url('https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    background-position: center;
}
.slide:nth-child(3){
    animation-delay: 5s;
    background-image: url('https://images.unsplash.com/photo-1516692935701-4f35bff8b9f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    background-position: center;
}
.slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url('https://images.unsplash.com/photo-1528920304568-7aa06b3dda8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80');
    background-size: cover;
    background-position: center;
}
.slide p{
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
}
@keyframes slide {
    0% { left:100%; width: 100%;}
    5% {left: 0%;}
    25% { left: 0%}
    30% {left: -100%; width: 100%;}
    30.0001% { left: -100%; width: 0%;}
    100% {left: 100%; width: 0%;}
}
