.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin: 20px;
  transition: margin 0.3s;
  width: 50%;
  height: 450px;
}

.container1> :nth-child(2) {
  height: 300px;
}

.container1> :nth-child(2) a {
  text-decoration: none;
  color: inherit;
}

#message-row {
  width: 100%;
  height: 200px;
}

#message-row textarea {
  height: 100%;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.iconita {
  font-size: 24px;
  padding: 10px;
  color: #313854;
}

.cos-form {
  margin-top: 20px;
  background-color: white;
  padding: 50px;
  font-family: "Segoe UI";
  height: 400px;
  width: 600px;
}

.cos-form-row {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 50%;
  margin: 10px 10px 10px 0;
}

.cos-input {
  font-family: "Open Sans", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  left: 20px;
}

.cos-label {
  display: block;
}

.cos-send-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  background-color: #313854;
  border: none;
}

.cos-send-button:hover {
  background-color: #394263;
}

@media (max-width:1200px) {
  .container1 {
    display: block;
  }
  .card {
    width: 80%;
    margin-left: 5%;
    margin-right: 15%;
  }
}
