<app-header></app-header>

<div class="container1">

    <div class="card">
        <app-map></app-map>
    </div>

    <div class="card" id="adresa">
        <h3>Adresa</h3>
        <p>Pentru mai multe detalii ne gasiti la:</p>
        <hr>
        <p><i class="iconita fa fa-map-marker"></i> Iasi, Ro</p>
        <p><i class="iconita fa fa-phone"></i> +40787429643</p>
        <p><i class="iconita fa fa-envelope"></i> mail@example.com</p>
    </div>

    <form class="card" method="post">
        <div class="cos-form-row">
            <input class="cos-input" type="text" name="Name" required placeholder="Name">
        </div>
        <div class="cos-form-row">
            <input class="cos-input" type="text" name="Email" required placeholder="Email">
        </div>
        <div class="cos-form-row" id="message-row">
            <input class="cos-input" type="text" name="Message" required placeholder="Message">
        </div>
        <div class="cos-form-row">
            <button class="cos-send-button" type="submit" name="Submit">Send</button>
        </div>
    </form>

</div>


<app-footer></app-footer>