.drag-n-drop {
    position: absolute;
    top: 0;
    left: 0;
    grid: 15px / 3ch;
    width: 100%;
    height: 100%;
}

:host ::ng-deep .drop-zone {
    border: none !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: black;
}