html {
  height: 100%;
  max-width: 100%;
}

body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}

app-segment {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0fr 5fr 0fr;
  grid-template-rows: 0fr 5fr 2fr;
  transition: 0.5s;
}