.app-container {
  width: 85%;
  margin: 0 auto;
}

.dropZoneColor {
  border: 3px dotted rgba(0, 0, 0, 0.08);
  background-color: rgba(0, 0, 0, 0.12)
}

.dropZoneColorDrag {
  border: 3px dotted rgba(0, 0, 0, 0.28);
  background-color: grey
}

.dropZoneColorDrop {
  border: 3px dotted rgba(0, 0, 0, 0.08);
  background-color: rgba(0, 0, 0, 0.12)
}
