<app-header></app-header>

<div class="wrapper-segmentation">
    <div class="wrapper-io">
        <div class="segmentation-input">
            <img class="segmentation-input-icon" src="../../../assets/Images/256x256.png">
        </div>
        <div class="segmentation-output">
                <img class="segmentation-output-icon" src="../../../assets/Images/processing.svg">
        </div>
    </div>
</div>

<div class="wrapper-historyMenu">
    <div class="historyMenu-Title">
        <h1>HISTORY</h1>
    </div>
    <div class="historyMenu-List">

    </div>
</div>