<app-header></app-header>

<div class="wrapper-segmentation">
    <div class="wrapper-io">
        <div class="segmentation-input">
                <app-file-upload></app-file-upload>
        </div>
        <div class="segmentation-output">
                <app-file-resolved></app-file-resolved>
        </div>
    </div>
</div>

<div class="wrapper-historyMenu">
    <div class="historyMenu-Title">
        <h1>HISTORY</h1>
    </div>
    <div class="historyMenu-List">
    </div>
</div>

<app-footer></app-footer>