<app-header></app-header>

<div class="wrapper-segmentation">
  <div class="container">
    <div class="wrapper-io">
        <div class="segmentation-input">
                <app-file-upload></app-file-upload>
        </div>
        <div class="segmentation-output">
                <app-file-resolved></app-file-resolved>
        </div>
    </div>
  </div>
</div>

<div class="wrapper-history-menu">
    <div class="history-menu-Title">
        <h1>HISTORY</h1>
    </div>
    <div class="history-menu-List">
    </div>
</div>

<app-footer></app-footer>
